<h2>ã‚µã‚¤ãƒ³ã‚¢ãƒƒãƒ—ðŸ”“</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ %>
    <% if @minimum_password_length %>
    <em>(æœ€ä½Ž<%= @minimum_password_length %> æ–‡å­—)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ç¢ºèªç”¨ %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ã‚µã‚¤ãƒ³ã‚¢ãƒƒãƒ—" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
