<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :summary, style: "display: block" %>
    <%= form.text_area :summary %>
  </div>


  <div>
    <%= form.label :published_on, style: "display: block" %>
    <%= form.date_field :published_on %>
  </div>

  <div>
    <%= form.label :showing, style: "display: block" %>
    <%= form.check_box :showing %>
  </div>

  <div>
    <%= form.label :💰price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <br>
  
  <div>
    <%=  form.radio_button :status, :sale %>
    <%= form.label :status, "販売中" %>
  </div>

<br>

  <div class="field">
   画像：<%= form.file_field :photo %>
  </div>

<br>

  <div class="fields">
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  </div>
 <%= link_to "タグの一覧ページ", tags_path %>

<br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
