<p style="color: green"><%= notice %></p>

『<%= @book.tags.map(&:name).join(', ') %>』シリーズ



<%= render @book %>

<p>
   <strong>Photo:</strong>
   <% if @book.photo.attached? %>
   <%= image_tag @book.thumbnail %>
   <%= @book.status %>
   <% end %>
</p>



<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>


