<p style="color: green"><%= notice %></p>

<h1>Tags</h1>

<div id="tags">
  <% @tags.each do |tag| %>
    <%= render tag %>
      <p>
        <%= link_to "編集", edit_tag_path(tag) %>
        <%= link_to "削除", tag, data: {turbo_method: :delete} %>
      </p>
  <% end %>
</div>

<%= link_to "New tag", new_tag_path %>
<%= link_to "入力画面に戻る", new_book_path %>
