<p style="color: green"><%= notice %></p>

<h1>タグ一覧📛</h1>

<div id="tags">
  <% @tags.each do |tag| %>
    <%= render tag %>
      <p>
        <%= link_to "削除", tag, data: {turbo_method: :delete} %>
      </p>
  <% end %>
</div>

<h1>新しいタグを作成する📛</h1>

<%= render "form", tag: @tag %>

<br>

<div>
  <%= link_to "入力画面に戻る", new_book_path %>
</div>
