<p style="color: green"><%= notice %></p>

<%= render @tag %>

<p>
  <strong>本</strong>
  <%= @tag.books.map(&:title).join(', ') %>
</p>

<div>
  <%= link_to "Edit this tag", edit_tag_path(@tag) %> |
  <%= link_to "入力", book_new_path %>

  <%= button_to "Destroy this tag", @tag, method: :delete %>
</div>
