
<% if user_signed_in? %>

<p><%= link_to current_user.email, mypage_path %>さんようこそ</p>
<% end %>



<h1>商品一覧</h1>

<h1>Books</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published On</th>
      <th>showing</th>
      <th>Price</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.published_on %></td>
        <td><%= book.showing %></td>
        <td><%= book.price %></td>
       <td><%= link_to 'click', product_path(book) %></td>
       
     </tr>
    <% end %>
  </tbody>
</table>
