<h1>商品詳細ページ</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tag</th>
      <th>Summary</th>
      <th>Author</th>
      <th>Published On</th>
      <th>showing</th>
      <th>Price</th>
      <th>在庫</th>
    </tr>
  </thead>

  <tbody>

        <td><%= @book.title %></td>   
        <td><%= @book.tags.map(&:name).join(', ') %></td>
        <td><%= @book.summary %></td>
        <td><%= @book.author %></td>
        <td><%= @book.published_on %></td>
        <td><%= @book.showing %></td>
        <td><%= @book.price %></td>
        <td><%= @book.status %></td>
  </tbody>
</table>



<%= image_tag @book.thumbnail %>

<%= link_to '商品一覧ページに戻る', products_path %>


<% if current_cart?(@book, @cart) %>
  <%= '買い物かごに追加されました' %>
<% else %>
  <% if @book.soldout? %>
    <%= '売り切れ' %>
  <% else %>
    <%= link_to '買い物かごに追加する', line_items_path(book_id: @book.id),
                data: { "turbo-method": :post }, class: 'btn btn-default' %>
  <% end %>
<% end %>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  table, th, td {
    border: 1px solid #ddd;
  }
  th, td {
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
