<h1>商品詳細ページ</h1>
<h1>Books</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tag</th>
      <th>Author</th>
      <th>Published On</th>
      <th>showing</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>

        <td><%= @book.title %></td>   
        <td><%= @book.tags.map(&:name).join(', ') %></td>
        <td><%= @book.author %></td>
        <td><%= @book.published_on %></td>
        <td><%= @book.showing %></td>
        <td><%= @book.price %></td>
  </tbody>
</table>

<%= link_to '商品一覧ページに戻る', products_path %>

<%= link_to '購入', new_order_path(book_id: @book.id) %>